.apply-button {
    // background-color: #3ba844;
    border: #3ba844;
    color: white;
    float: right;
}

.apply-button:hover {
    color: #3ba844 !important;
    border: 1px solid #3ba844 !important;
}

.applicant-count-text {
    position: relative;
    top: 6px;
}

.job-listing {
    position: relative;
    top: 5px;
    width: 60vw !important;
    left: 1px;
}

.ui.fluid.card {
    border-radius: 0 !important;
}

.ui.card {
    margin-right: 0.5rem !important;
    margin-top: 1rem !important;
}

.listing-container { 
    max-height: 82vh !important;
}

.pagination {
    position: fixed;
    bottom: 3vh;
    right: 20vw;
}

.empty-container { 
    min-height: 52vh !important;
    padding: 30vh;
}

.header-company {
    float: right;
    font-size: 1.5rem;
}

.header-jobtitle {
    font-size: 1.5rem;
}