.apply-button {
    position: sticky;
    bottom: 0 !important;
}

.job-title {
    text-align: center;
}

.job-company {
    text-align: center;
    color: #a29999 !important;
}

.ant-pagination .ant-pagination-item-active {
    border-color: #3ba844 !important;
}

.ant-pagination .ant-pagination-item-active:hover {
    border-color: #3ba844 !important;
}